<!doctype html>
<html>
    <head>
        <title>cs290 Wk9 Database with UI</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>
