<h1>Welcome to the workout tracker</h1>
<p>Please enter a new entry in the table and hit "submit"</p>
<p>SUBMIT BUTTON</p>

<p>Here is a table showing all your completed exercises</p>
<ul>Here is the table headers
  <li>name of exercise</li>
  <li>reps</li>
  <li>weight</li>
  <li>date</li>
  <li>lbs</li>
<p>Each row has two buttons - one to delete and one to edit</p>
<p>Delete removes the row</p>

<table id="dataTable">
    <tr>
        <td>
            <input type="text" name="Name" />
            <input type="button" value="delete" onclick="deleteRow('dataTable',this)" />
            <input type="button" value="eit" onclick="editRow('dataTable',this)" />
        </td>
    </tr>
    <tr>
        <!-- <td><input type="checkbox" name="chk"/></td> -->
        <td>
            <input type="text" name="Name" />
            <input type="button" value="delete" onclick="deleteRow('dataTable',this)" />
            <input type="button" value="eit" onclick="editRow('dataTable',this)" />
        </td>
    </tr>
</table>

<p> edit takes you to another page</p>  

  

<p>body = {{owm}}</p>